{% extends "groups/group_base.html" %}

{% block pregroup %}
<div class="container text-center">
  <h2 class="blue-color page-title">{{group.name}}</h2>
  <h4 class="page-subtitle">Member Count: {{group.member.count}}</h4>

  <div class="content">
    {% if user in group.member.all %}
      <a href="{% url 'groups:leave' slug=group.slug %}" class="btn my-button"><span class="glyphicon glyphicon-remove-circle"></span>Leave</a>
    {% else %}
      <a href="{% url 'groups:join' slug=group.slug %}" class="btn my-button"><span class="glyphicon glyphicon-ok-circle"></span>Join</a>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block group_content %}
<div class="container list-container white-border col-md-8">
  {% if group.posts.count == 0 %}
    <div class="container text-center list-element">
      <h4>No posts in this group yet!</h4>
    </div>
  {% else %}
    {% for post in group.posts.all %}
    {% if forloop.last %}
  	<div class="list-element">
  	{% else %}
    <div class="white-border-bottom list-element">
    {% endif %}
      {% include "posts/_post.html" %}
    </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
